.content {
    float: right;
    width: 83%;
}
.banner {
    width: 100%;
    height: 299px;
    background-image: url(../img/airplane.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.title {
    font-size: 49px;
    font-weight: bold;
    color: #221f1f;
    margin-bottom: 27px;
}
.rates {
    width: 900px;
    margin-bottom: 61px;
}
.rates__list {
    width: 810px;
	font-size: 0;
	margin: 0 auto;
}
.rates__item {
	width: 250px;
    display: inline-block;
 	margin-left: 20px;
    text-align: center;
    vertical-align: top;
}
.rates__item:hover {
    border-radius: 5px;
    border: 1px solid #e8e9ed;
}
.rates__item:hover .rate__icons_icon_flower {
    background: url(../img/flower_hover.png) no-repeat center;
    background-color: #4b73b5;
}
.rates__item:hover .rate__icons_icon_star {
    background: url(../img/star_hover.png) no-repeat center;
    background-color: #4b73b5;
}
.rates__item:hover .rate__icons_icon_palette {
    background: url(../img/palette_hover.png) no-repeat center;
    background-color: #4b73b5;
}
.rate {
    padding-top: 41px;
}
.rate__icons {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: #4b73b5;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center;
    margin-bottom: 35px;
}
.rate__icons_icon_flower {
    background-image: url(../img/flower.png);
}
.rate__icons_icon_flower-hover:hover {
    background-image: url(../img/flower_hover.png);
}
.rate__icons_icon_star {
    background-image: url(../img/star.png);
}
.rate__icons_icon_palette {
    background-image: url(../img/painter-palette.png);
}
.rate__title {
    font-size: 11px;
    font-weight: bold;
    color: #212121;
    text-align: center;
    margin-bottom: 26px;
}
.price {
    font-size: 54px;
    font-weight: normal;
    padding-bottom: 48px;
}
.price .price__dollar {
    font-size: 27px;
}
.news__img {
    max-width:160px;
    max-height:160px;
    border-radius: 50%;
}
.news__date {
    font-size: 14px;
    color: #656464;
	margin-bottom: 5px;
}
.news__title {
    font-size: 18px;
    font-weight: bold;
}
.news__description {
    font-size: 18px;
    font-weight: 300;
}
.pagination__info {
    font-size: 14px;
    font-weight: 300;
    color: #656464;
	display: inline-block;
	margin-right: 20px;
}
.pagination__link {
    font-size: 14px;
    font-weight: bold;
    color: #221f1f;
}
.pagination__btn {
    display: block;
    width: 6px;
    height: 10px;
}
.pagination__btn_icon_right {
    background-image: url(../img/right-arrow.png);
}
.pagination__btn_icon_left {
    background-image: url(../img/left-arrow.png);
}
.rate__description {
    width: 185px;
    margin: 0 auto;
    margin-bottom: 20px;
	font-size: 18px;
}
.rate__list {
    width: 185px;
    margin: 0 auto;
}
.rate__item::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #221f1f;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 20px;
}
.rate__item {
    text-align: left;
    padding-bottom: 20px;
    max-width: 180px;
}
.rate__text {
    display: inline-block;
    vertical-align: middle;
    max-width: 150px;
	font-size: 16px;
}
.posts {
	
}
.news{
	width: 824px;
	padding-bottom: 25px;
	border-bottom: 2px solid #f5f5f5;
}

.posts__item:last-child .news{
	border-bottom: none;
}
.posts__item {
	margin-bottom: 30px;
}
.posts__list .news
.news__logo {
	float: left;
	margin-right: 20px;
}
.news__content {
	width: 644px;
	float: left;
}
.posts .title{
	margin-bottom: 73px;
}
.pagination {
	text-align: center;
	margin-bottom: 64px;
}
.pagination__btns {
	display: inline-block;
}
.pagination__list {
	display: inline-block;
}
.pagination__item {
	display: inline-block;
	margin-right: 20px;
}
.pagination__btn {
	display: inline-block;
}
.pagination__btn{
	display: inline-block;
}
.pagination__btn_icon_left{
	margin-right: 25px;
}
.pagination__btn_icon_right{
	margin-left: 5px;
}
.pagination__link {
	display: inline-block;
	border-radius: 3px;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	padding-top: 5px;
}
.pagination__link_active {
	background-color:  #4b73b5;
	color: white;
}
.pagination__link:hover{
	color:#2b66c7;
}
.pagination__link_active:hover {
	color: white;
}
