.header{
    background-color: #4b73b5;
    font-weight: bold;
	padding: 20px 0;
	min-width: 1100px;
}
.phone__link {
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
}
.schedule__text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
	  transition: 3s;
}
.header__left {
    width: 50%;
    float: left;
	height: 40px;
}
.logo__img {
	display: inline-block;
	padding-top: 6px;
	
}
.header__right {
    width: 50%;
    float: right;
}
.phone {
    text-align: right;
}
.schedule {
	display: inline-block;
    text-align: right;
	position: relative;
}
.schedule-wrap {
	text-align: right;
}
.schedule:hover .schedule__text {
	font-weight: 700;
	color:  #ffffff;
}