html{
	min-height: 100%;
}
body{
	min-height: 100%;
	padding: 0;
	margin: 0;
	background: url(../img/backg_logo_intro.jpg) fixed top left no-repeat;
	background-size: 100% 100%;
}
.double-wrap {
	width: 100%;
	height: 100%;
	position: relative;
}
.wrap-logo {
	width: 207px;
	height: 270px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
.logo__img {
	display: block;
	padding-bottom: 40px;
	width: 111px;
	margin: 0 auto;
}
.logo__btn {
	display: inline-block;
	width: 207px;
	height: 45px;
	text-transform: uppercase;
	color:  #1b5bc4;
	font-size: 12px;
	font-weight: 700;
	background-color: transparent;
	border-radius: 3px;
	border-width: 1px;
	border-color:  #1c5bc3;
	border-style: solid;
	cursor: pointer;
	transition: 0.5s;
}
.logo__btn:hover{
	background-color:  #1c5bc3;
	color: #fff;
}
.intro_sprite {
    background-image: url(../img/intro/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
	padding-top: 17px;
	transition: 1s;
	
}

.logo__btn:hover .intro_sprite-plan{
    width: 15px;
    height: 14px;
    background-position: -20px -20px;
}
.intro_sprite-plan {
    width: 15px;
    height: 14px;
    background-position: -75px -20px;
}

.logo__link {
	display: inline-block;
}


