* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    box-sizing: inherit;
}
*:before,
*:after {
    box-sizing: inherit;
}
body,
html {
    width: 100%;
    height: 100%;

}
html {
    box-sizing: border-box;
}
.wrapper {
    overflow: hidden;
    min-width: 1100px;
    min-height: 100%;
}
.wrapper:after {
    content: "";
    display: block;
    height: 75x;
}
.container {
    width: 1060px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}
p{
	margin: 0;
}
/*   header    */

/*   sidebar    */


/*   main-content    */


/*   footer    */

