* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    box-sizing: inherit;
}
*:before,
*:after {
    box-sizing: inherit;
}
body,
html {
    width: 100%;
    height: 100%;
    line-height: 1.42;
}
html {
    box-sizing: border-box;
}
.wrapper {
    overflow: hidden;
    min-width: 1120px;
    min-height: 100%;
}
.wrapper:after {
    content: "";
    display: block;
    height: 75x;
}
.container {
    width: 1100px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}
/*   header    */

/*   sidebar    */


/*   main-content    */

.banner {
    width: 1007px;
    height: 299px;
    background-image: url(../img/airplane.jpg);
    background-repeat: no-repeat;
}
.title {
    font-size: 49px;
    font-weight: bold;
    color: #221f1f;
}
.rate__title {
    font-size: 18px;
    font-weight: 300;
    color: #221f1f;
}
.rate__icons {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: #4b73b5;
    background-repeat: no-repeat;
}
.rate__icons_icon_flower {
    background-image: url(../img/flower.png);
}
.rate__icons_icon_flower-hover:hover {
    background-image: url(../img/flower_hover.png);
}
.rate__icons_icon_star {
    background-image: url(../img/star.png);
}
.rate__icons_icon_palette {
    background-image: url(../img/painter-palette.png);
}
.rate__title {
    font-size: 11px;
    font-weight: bold;
    color: #212121;
}
.rate__item {
    list-style-type: disc;
}
.price {
    font-size: 54px;
    font-weight: normal;
}
.price .price__dollar {
    font-size: 27px;
}
.news__img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
.news__date {
    font-size: 14px;
    color: #656464;
}
.news__title {
    font-size: 18px;
    font-weight: bold;
}
.news__description {
    font-size: 18px;
    font-weight: 300;
}
.pagination__info {
    font-size: 14px;
    font-weight: 300;
    color: #656464;
}
.pagination__link {
    font-size: 14px;
    font-weight: bold;
    color: #221f1f;
}
.pagination__btn {
    display: block;
    width: 6px;
    height: 10px;
}
.pagination__btn_icon_right {
    background-image: url(../img/right-arrow.png);
}
.pagination__btn_icon_left {
    background-image: url(../img/left-arrow.png);
}
/*   footer    */

.copyright {
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
}
.copyright__link,
.copyright__author {
    font-weight: bold;
    color: #fff;
}
.copyright__link {
    text-decoration: underline;
}
.social-title {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.social-icons__item {
    border-radius: 50%;
    background-color: #d2def3;
    display: inline-block;
}
.social-icons__link {
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: block;
}
.social-icons__link_icon_vk {
    background-image: url(../img/vk.png);
}
.social-icons__link_icon_fb {
    background-image: url(../img/fb.png);
}
.social-icons__link_icon_gplus {
    background-image: url(../img/google.png);
}
.social-icons__link_icon_gplus {
    background-image: url(../img/google.png);
}
.social-icons__link_icon_tw {
    background-image: url(../img/twitter.png);
}
.social-icons__link_icon_mail {
    background-image: url(../img/mail.png);
}
.social-icons__item:hover {
    background-color: #fff;
}
.footer__copyright {
    float: left;
    width: 236px;
}
.footer__social {
    float: right;
}
.footer__logo {
    float: left;
    width: 120px;
}
.footer {
    min-width: 1120px;
}
.social-icons__list {}