.sidebar {
    float: left;
    width: 15%;
	margin-right: 2%;
}
.sidebar_comment_padding, .sidebar_crew_padding{
	padding-top: 1px;
}
.navigator__item {
	margin-bottom: 39px;
}
.navigator__link {
    font-size: 12px;
    font-weight: bold;
    color: #4b73b5;
    text-transform: uppercase;
	display: inline-block;
}
.navigator__text {
	display:inline-block;
	vertical-align: middle;
	max-width: 80px;
	margin-left: 10px;
}
.navigator__link_active{
  color:  #221f1f;
}
.nav_sprite {
    background-image: url(../img/nav__sprite/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
	vertical-align: middle;
}

.navigator__item:hover .nav_sprite-feed_icon{
    width: 23px;
    height: 18px;
    background-position: -20px -20px;
}
.navigator__item:hover .nav_sprite-team_icon{
    width: 23px;
    height: 18px;
    background-position: -140px -20px;
}
.navigator__item:hover .nav_sprite-main_icon{
    width: 23px;
    height: 18px;
    background-position: -20px -78px;
}
.navigator__item:hover .navigator__link{
     color:  #221f1f;
}

.nav_sprite-feed_icon {
    width: 23px;
    height: 18px;
    background-position: -80px -20px;
}

.nav_sprite-main_hover {
    width: 23px;
    height: 18px;
    background-position: -20px -78px;
}

.nav_sprite-main_icon {
    width: 23px;
    height: 18px;
    background-position: -77px -78px;
}

.nav_sprite-team_hover {
    width: 23px;
    height: 18px;
    background-position: -140px -20px;
}

.nav_sprite-team_icon {
    width: 23px;
    height: 18px;
    background-position: -134px -78px;
}
.nav_sprite-feed_hover {
    width: 23px;
    height: 18px;
    background-position: -20px -20px;
}
